.toolbar {
    display: flex;
    justify-content: space-between;
}
.loginOuterContainer {
    display: flex;
    height: 100vh;
}
.loginImage {
    position: relative;
    background-size: cover;
    background-image: url(../../assets/images/login_test_following_changed.jpg);
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 1;
    order: 0;
}


.toolbarContainer {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */
}

.loginTextOverImage {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px 0; /* Some padding */
}



.loginFormContainer {
    margin: 10em;
    width: 25em;
    vertical-align: center;
    font-family: 'JetBrains Mono', monospace;
    order: 1;
}
.loginBox {
    margin-top: 1em;
    /* background: lightcoral; */
    border-top: 1px solid #ccc;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    /* border: 1px solid red; */
}
.loginBox form {
    padding: 1.5em;
    display: block;
}
.loginBox button {
    margin-top: 1em;
}
.loginData {
    margin-bottom: 1em;
}
.loginBox .loginBtn {
    width: 100%;
    margin-top: 3em;
}
.loginFormTitle {
    padding-bottom: 2em;
    font-family: 'Jost', sans-serif;
    font-size: 1.1em;
}
.appName {
    font-size: 1.2rem;
    letter-spacing: .5px;
    font-weight: 700;
}
.appName2 {
    font-weight: 300;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.enterCredentials{
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.1rem;
    color: rgba(158, 158, 158, 0.7);
}
