/*
privateContainer
   navigation
   content
*/
.privateContainer {
    display: flex;
}
.navigation {
    background: var(--navigation-bg-color);
}
.content {
    background: var(--content-bg-color);
}
