.navContainer {
  display            : flex;
  flex-direction     : column;
  justify-content    : space-between;
  /* flex            : 1; */
  /* max-width       : 220px; */
  gap                : 60px;
  background-color   : var(--color-main);
  color              : var(--lt-color-primary)
}

.appName {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  font-size      : 1.5rem;
  background     : rgb(0, 0, 0, .1);
}

.appName>div {
  display       : flex;
  flex-direction: column;
}

.appName span {
  line-height: 1em;
}

.appName span:first-child {
  font-weight: 600;
}

.appName span:last-child {
  font-weight: 300;
  font-size  : 0.8em;
  font-weight: 300;
}

.toggle {
  transform: rotate(90deg);
}

.nav {
  display             : flex;
  flex-direction      : column;
  height              : 100%;
  /* padding          : .5em .8em; */
  /* gap              : 2em; */
}

.nav a {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  font-weight    : 300;
  line-height    : 0;
  gap            : .7em;
  overflow       : hidden;
  padding        : 1.3em 0;
  border-bottom  : 2px solid rgb(0, 0, 0, .2);
  transition     : border-color .3s ease-in, background-color .3s ease-in, color .3s ease-in;
}

.nav a.active {
  background-color: rgb(255, 255, 255, .1);
  border-color    : rgb(255, 255, 255, .2);
}

.nav a:not(.active):hover {
  background-color: rgb(0, 0, 0, .2);
}

.nav a:not(.active):hover .navButtonCircle {
  background-color: rgb(255, 255, 255, .4);
}

.nav a.active .navButtonCircle {
  background-color: rgb(255, 255, 255, .4);
}

.navButtonContainer {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  flex           : 1;
  padding        : 0 .8em;
}

.navButton {
  display    : flex;
  align-items: center;
  gap        : .7em;
}

.navButton svg {
  font-size: 1em;
}

.navButtonCircle {
  width           : 6px;
  height          : 6px;
  background-color: rgb(0, 0, 0, .4);
  border-radius   : 50%;
  will-change     : transform;
  transition      : background-color .3s ease-in;
}

.userAndSignature {
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  background-color: rgb(0, 0, 0, .1);
}

.userContainer {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  gap            : 20px;
}

.userAvatar {
  background-color: antiquewhite;
  border-radius   : 50%;
  overflow        : hidden;
}

.userDetails {
  display       : flex;
  flex-direction: column;
}

.userDetails span:last-child {
  font-size: 0.7em;
  opacity  : .8;
}