.navContainer {
  display           : flex;
  flex-direction    : column;
  justify-content   : space-between;
  flex              : 1;
  gap               : 60px;
  /* padding        : 1em 0; */
  max-width         : 220px;
}

.appName {
  display       : flex;
  flex-direction: column;
  font-size     : 1.5rem;
}

.appName span {
  line-height: 1em;
}

.appName span:first-child {
  color      : var(--color-app-name);
  font-weight: 600;
}

.appName span:last-child {
  font-weight: 300;
  font-size  : 0.8em;
  font-weight: 300;
}


.nav {
  display          : flex;
  flex-direction   : column;
  height           : 100%;
  padding          : .5em .8em;
  /* gap           : 2em; */
}

.nav a {
  display      : flex;
  align-items  : center;
  font-weight  : 300;
  line-height  : 0;
  gap          : .7em;
  overflow     : hidden;
  padding      : 1em 0;
  transition   : background-color .25s ease-out, color .25s ease-out;
  border-top   : 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.navButton {
  display    : flex;
  align-items: center;
  gap        : .7em;
}

.navButton svg {
  font-size: 1em;
}

.navButtonCircle {
  width        : .3em;
  height       : .3em;
  background   : white;
  border-radius: 50%;
  margin-left  : -.3em;
  opacity      : 0;
  transition   : margin .25s ease-in, opacity .25s ease-in;
  will-change  : transform;
}

.userAndSignature {
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.userAndSignature a {
  font-weight: 300;
}

.nav .active {
  font-weight  : 400;
  opacity      : 1;
  border-top   : 1px solid;
  border-bottom: 1px solid;
}

.nav .active div:first-child {
  margin-left: 16px;
  opacity    : 1;
}

.userContainer {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  gap            : 20px;
}

.userAvatar {
  background-color: antiquewhite;
  border-radius   : 50%;
  overflow        : hidden;
}

.userDetails {
  display       : flex;
  flex-direction: column;
}

.userDetails span:last-child {
  font-size: 0.7em;
  opacity  : .8;
}