/* MAIN */
.publicOuter {
  display       : flex;
  flex-direction: column;
  height        : 100vh;
  box-sizing    : content-box;
}

.publicMain {
  display            : flex;
  align-items        : center;
  flex-grow          : 1;
  background-size    : contain;
  background-position: right bottom;
  background-repeat  : no-repeat;
}

@media screen and (max-width: 1024px) {
  .publicMain {
    background-size    : cover;
    background-position: 20% center;
  }
}

.publicInfoContainer {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  font-size     : 2rem;
  padding       : 0 10vw;
  max-width     : 450px;
  width         : 100%;
}

.publicImage {
  position           : relative;
  display            : flex;
  background-size    : cover;
  background-position: left center;
  background-repeat  : no-repeat;
  flex-grow          : 1;
  overflow           : hidden;
  white-space        : nowrap;
}

.publicInfo {
  width: 100%;
}

/* HEADER */
.publicHeader {
  display       : flex;
  flex-direction: column;
  font-size     : 2.3rem;
  gap           : .5em;
  letter-spacing: -.02em;
  margin-bottom : 100px;
}

.publicHeader img {
  height: 1.5em;
}

.publicHeader>div {
  font-size: 1em;
}

.publicHeader span:first-child {
  color      : var(--color-app-name);
  font-weight: 600;
}

.publicHeader span:last-child {
  font-weight: 300;
}

/* QUOTES */
.publicHomeQuotes {
  margin-bottom: 40px;
}

.publicHomeQuotes p {
  position     : relative;
  margin       : 0;
  margin-bottom: .5rem;
  width        : fit-content;
}

.publicHomeQuotes p:first-of-type:before {
  content            : "";
  position           : absolute;
  display            : inline-block;
  top                : -0.3em;
  left               : -0.5em;
  width              : 0.8em;
  height             : 0.8em;
  background-image   : url(/src/assets/images/quote.svg);
  background-size    : cover;
  background-position: center;
  background-repeat  : no-repeat;
}

.publicHomeQuotes p:last-of-type:after {
  content            : "";
  position           : absolute;
  display            : inline-block;
  bottom             : -0.3em;
  right              : -0.5em;
  width              : 0.8em;
  height             : 0.8em;
  background-image   : url(/src/assets/images/quote.svg);
  background-size    : cover;
  background-position: center;
  background-repeat  : no-repeat;
  transform          : scale(-1);
}

.publicHomeLogin {
  align-self: flex-start;
}

/* LOGIN */
.publicLogin {
  display       : flex;
  flex-direction: column;
  gap           : 1em;
  margin-bottom : 40px;
}

.publicLoginHeader h2 {
  margin        : 0;
  font-size     : 1em;
  font-weight   : 500;
  text-transform: uppercase;
}

.publicLoginFields {
  display       : flex;
  flex-direction: column;
  gap           : 1rem;
}

/* TOOLBAR */
.publicToolBar {
  position: absolute;
  top     : 30px;
  right   : 30px;
  display : flex;
  gap     : 10px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}