:root {
    font-family: 'Akshar', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

    --color-bg-light: #EDEFF1;
    --color-bg-dark : #1B1C23;

    --lt-color-primary  : #BD3834;
    --lt-color-secondary: #0B0F2F;

    --lt-color-text-primary  : #EDEFF1;
    --lt-color-text-secondary: #222222;

    --dt-color-primary  : #0B0F2F;
    --dt-color-secondary: #BD3834;

    --dt-color-text-primary  : #222222;
    --dt-color-text-secondary: #EDEFF1;
}

a {
    text-decoration: none;
}