:root {
    font-family: 'Akshar', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

    --bg-light: #FFFFFF;
    --bg-dark : #161A1D;

    --color-primary-light: #E0F4FD;
    --color-primary-dark : #004165;

    --color-secondary-light: #BD3834;
    --color-secondary-dark : #200A09;
    
    --color-text-light: #E0F4FD;
    --color-text-dark : #222222;

    --color-app-name: #BD3834;
}

a {
    text-decoration: none;
}