:root {
    font-family               : 'Akshar', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color          : whitesmoke;
    /* public highlight colors */
    --home-db-highlight-color1: #95D1E9;
    --home-db-highlight-color2: #3F6471;


    /* colors */
    --rgb-color-success: 76, 175, 80;
    --color-success    : #4caf50;
    --rgb-color-info   : 41, 182, 246;
    --color-info       : #29b6f6;
    --rgb-color-warning: 255, 180, 0;
    --color-warning    : #ffb400;
    --rgb-color-danger : 196, 24, 60;
    --color-danger     : #c4183c;

    --color-white    : #FFFFFF;
    --color-black    : #000000;
    --rgb-color-black: 0, 0, 0;

    --color-primary      : #004165;
    --rgb-color-primary  : 0, 65, 101;
    --color-secondary    : #BD3834;
    --rgb-color-secondary: 189, 56, 52;
    --color-tertiary     : #C4C4C4;

    --text-primary  : #1E1E1E;
    --text-secondary: rgb(var(--rgb-color-primary), .25);

    --text-link-primary    : var(--color-primary);
    --text-link-alternative: var(--color-secondary);

    --btn-primary-bg      : var(--color-primary);
    --btn-primary-bg-hover: rgb(var(--rgb-color-primary), .8);

    --btn-secondary-bg      : rgb(var(--rgb-color-primary), .25);
    --btn-secondary-bg-hover: rgb(var(--rgb-color-primary), .05);

    --btn-disabled-bg  : rgb(var(--rgb-color-primary), .25);
    --btn-disabled-text: var(--color-white);

    --menu-primary-text      : var(--text-primary);
    --menu-primary-text-popup: var(--color-primary);

    --input-primary-text: var(--color-tertiary);

    --border-color-primary: rgb(var(--rgb-color-black), 0.23);
    --border-primary      : 1px solid var(--border-color-primary);
    --border-radius-s     : 4px;
    --border-radius-m     : 8px;
}

body {
    color: var(--color-primary);
}

a {
    text-decoration: none;
}